$ztimer-runner-container-padding-base: 1em;
$ztimer-runner-container-padding-top: $ztimer-runner-container-padding-base;
$ztimer-runner-container-padding-bottom: $ztimer-runner-container-padding-base;
$ztimer-runner-container-padding-left: $ztimer-runner-container-padding-base;
$ztimer-runner-container-padding-right: $ztimer-runner-container-padding-base;

$ztimer-runner-width: 18em;
$ztimer-runner-animation-length: .5s;
$ztimer-runner-button-margin-offset: .5em;

$ztimer-runner-padding-base: 1em;
$ztimer-runner-padding-top: $ztimer-runner-padding-base;
$ztimer-runner-padding-bottom: $ztimer-runner-padding-base;
$ztimer-runner-padding-left: $ztimer-runner-padding-base;
$ztimer-runner-padding-right: $ztimer-runner-padding-base;

$ztimer-runner-border-size: .5em;
$ztimer-runner-border-style: solid;
$ztimer-runner-border-color: #c0c0c0;
$ztimer-runner-border-radius: 1em;

$ztimer-runner-margin-base: 1em;
$ztimer-runner-margin-top: $ztimer-runner-margin-base;
$ztimer-runner-margin-bottom: $ztimer-runner-margin-base;
$ztimer-runner-margin-left: $ztimer-runner-margin-base / 2;
$ztimer-runner-margin-right: $ztimer-runner-margin-base / 2;

$ztimer-runner-font-size-base: 3em;
$ztimer-runner-font-size-text: $ztimer-runner-font-size-base;
$ztimer-runner-font-size-button: $ztimer-runner-font-size-base / 2;

.ztimer-runner-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: $ztimer-runner-container-padding-top;
    padding-bottom: $ztimer-runner-container-padding-bottom;
    padding-left: $ztimer-runner-container-padding-left;
    padding-right: $ztimer-runner-container-padding-right;
}

.ztimer-runner {
    width: $ztimer-runner-width;
    text-align: center;
    
    border-width: $ztimer-runner-border-size;
    border-style: $ztimer-runner-border-style;
    border-color: $ztimer-runner-border-color;
    border-radius: $ztimer-runner-border-radius;
    
    margin-top:  $ztimer-runner-margin-top;
    margin-bottom: $ztimer-runner-margin-bottom;
    margin-left: $ztimer-runner-margin-left;
    margin-right: $ztimer-runner-margin-right;
    
    padding-left: $ztimer-runner-padding-left;
    padding-right: $ztimer-runner-padding-right;
    padding-top: $ztimer-runner-padding-top;
    padding-bottom: $ztimer-runner-padding-bottom;
    
    button {
        span {
            font-size: $ztimer-runner-font-size-button;
        }
        
        &.close {
            span {
                font-size: $ztimer-runner-font-size-button;
            }
        }
    }
    
    span {
        font-size: $ztimer-runner-font-size-text;
    }
        
    &.ng-enter {
        animation: zoomIn $ztimer-runner-animation-length;
    }
    
    &.ng-leave {
        animation: zoomOut $ztimer-runner-animation-length;
    }
}
