$runner-container-border-size: .5em;
$runner-container-border-style: solid;
$runner-container-border-color: #c0c0c0;

.runner-container {
    margin-top: 1em;

    .close {
        font-size: 2em;
    }

    >div {
        max-width: 25em;
        text-align: center;
        margin: auto;
        border: $runner-container-border-size $runner-container-border-style $runner-container-border-color;
        border-radius: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em;
        
        &.ng-enter {
            animation: zoomIn .5s;
        }
        
        &.ng-leave {
            animation: zoomOut .5s;
        }
        
        >div {
            span {
                font-size: 3em;
            }
            
            >div {
                button {
                    margin-top: 1em;
                }
            }
        }
    }
}
