<div class="btn-toolbar ztimer-toolbar">
    <div class="btn-group">
        <button class="btn btn-default" type="button" data-ng-click="operations.addNewTimer()"><span class="glyphicon glyphicon-hourglass" title="New Timer"></span></button>
        <button class="btn btn-default" type="button" data-ng-click="operations.addNewStopwatch()"><span class="glyphicon glyphicon-time" title="New Stopwatch"></span></button>
        <button class="btn btn-default" type="button" data-ng-click="operations.deleteAllTimers()"><span class="glyphicon glyphicon-minus" title="Delete All"></span></button>
        <button class="btn btn-default" type="button" data-ng-click="operations.resetAllTimers()"><span class="glyphicon glyphicon-repeat" title="Reset All"></span></button>
        <button class="btn btn-default" type="button" data-ng-click="operations.startAllTimers()"><span class="glyphicon glyphicon-play" title="Start All"></span></button>
        <button class="btn btn-default" type="button" data-ng-click="operations.stopAllTimers()"><span class="glyphicon glyphicon-stop" title="Stop All"></span></button>
    </div>
</div>