body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: auto;
}
header, article {
    text-align: center;
    margin: auto;
}
.op-toolbar .btn {
    font-size: 1.5em;
}
.op-toolbar .btn-group {
    float: none !important;
}

.runner-container {
    margin-top: 1em;
}
    .runner-container .close {
        font-size: 2em;
    }
    .runner-container>div {
        max-width: 25em;
        text-align: center;
        margin: auto;
        border: 0.5em solid silver;
        border-radius: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em;
    }
    .runner-container>div.ng-enter {
        animation: zoomIn 0.5s;
    }
    .runner-container>div.ng-leave {
        animation: zoomOut 0.5s;
    }
        .runner-container>div>div>span {
            font-size: 3em;
        }
        .runner-container>div>div>div>button {
            margin-top: 1em;
        }
